
.modalOverlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
  
  }
  
  .modalBox{
      position: relative;
      background-color: var(--color-grey-3);
      display: flex;
      flex-direction: column;
      max-width: 370px;
      width: 100%;
      border-radius: 3px;
  
      
      &>div:first-child{
          background-color: var(--color-grey-2);
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 40px;
          padding: 16px;
      }
      form{
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: space-between;
          align-items: flex-start;
          gap:15px;
          padding: 10px 16px;
      }
      input{
          margin-top: 9.6px;
          width: 100%;
          padding: 0 20px;
          height: 3.5rem;
          background: var(--color-grey-2);
          height: 48px;
          border-radius: 3px;
          border:1px solid var(--color-grey-0);
      }
      .containerInput{
          width:100%
      }
  }
  