.formBox{
    display: flex;
    flex-direction: column;
    width: clamp(18.5rem, 100%, 23.0625rem);
    background-color: var(--color-grey-3);
    padding:25px 20px;
    align-items: stretch;
    gap:20px;
    h3{
        font-size:clamp(0.75rem,2vh,0.95rem) ;
        font-weight: 600;
        color:var(--color-grey-1);
    }
    input{
        margin-top: 9.6px;
        width: 100%;
        padding: 0 20px;
        height: 3.5rem;
        background: var(--color-grey-2);
        height: 48px;
        border-radius: 3px;
    }
    &>div:first-child{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: center;
    }
    &>div:last-child{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: center;
    }


}
